<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package distance="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net461" />
  <package distance="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package distance="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package distance="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net461" />
  <package distance="MSTest.TestAdapter" version="1.2.1" targetFramework="net461" />
  <package distance="MSTest.TestFramework" version="1.2.1" targetFramework="net461" />
  <package distance="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
</packages>